.flex-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.search-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-wrapper .search-icon {
    position: absolute;
    left: 10px;
    width: 16px;
    height: 16px;
}

.search-wrapper .clear-icon {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: none;
}

.search-wrapper input {
    padding: 8px 8px 8px 30px;
    /* Adjust padding to make space for the search icon */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #333942;
    background-color: rgba(33, 34, 39, 255);
    color: #f7f7f8;
}

.search-wrapper input:focus {
    outline: none;
    border: 2px solid #335fff;
}

.table-wrapper {
    overflow-x: hidden;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
    /* Ensure even spacing of columns */
}

table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1f1f1f;
}

table tbody tr:nth-child(odd) {
    background-color: #272930;
    /* Darker background for odd rows */
}

table tbody tr:nth-child(even) {
    background-color: rgb(17, 18, 22);
    /* Lighter background for even rows */
}

table th,
table td {
    text-wrap: auto;
}

table th {
    padding: 7px;
    background-color: rgb(17, 18, 22);
    color: rgba(247, 247, 248, 0.9);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 25px;
}

table td {
    padding: 5px 10px;
    /* Add padding to the sides of the td elements */
    font-size: 1rem;
    color: #eee;
    margin: 0 5px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

table tr {
    background-color: transparent;
}

table tr:hover {
    background-color: rgba(187, 194, 209, 0.17);
    transition: all 0.3s ease;
}

.restock-button {
    display: inline-block;
    padding: 8px 12px;
    background: transparent;
    color: rgb(187, 188, 190);
    text-decoration: none;
    border-radius: 7px;
    border: 0.5px solid rgba(187, 188, 190, 0.5);
    transition: border-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.restock-button:hover {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1.5px solid rgb(187, 188, 190);
    color: #fff;
    border-radius: 7px;
}

.button-product {
    background: transparent;
    display: inline-block;
    padding: 8px 12px;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.button-product:hover {
    background-color: rgba(255, 255, 255, 0.94);
    color: #000;
    border-radius: 7px;
}

.btn-action {
    text-decoration: none;
    padding: 6px 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    text-align: center;
    box-sizing: border-box;
}

.btn-action img {
    display: none;
}

.btn-action span {
    display: inline;
}

.btn-edit {
    background-color: rgb(42, 56, 255) !important;
    color: white !important;
}

.btn-delete {
    border: 1px solid #ff3d3d !important;
    background-color: transparent !important;
    color: #ff3d3d !important;
}

.btn-delete:hover {
    border: 1px solid rgb(255, 0, 0) !important;
    color: rgb(255, 0, 0) !important;
}

.btn-delete:disabled {
    border: 1px solid #ff9999 !important;
    color: #ff9999 !important;
    cursor: not-allowed;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.popup-alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4edda;
    border: 1px solid green;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    color: green;
}

.popup-alert.show {
    display: block;
}

.alert-warning {
    position: fixed;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(167, 99, 40, 0.44);
    border: 1px solid rgb(255, 136, 0);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

th {
    cursor: pointer;
}

th img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.table-wrapper {
    height: 70vh;
    /* Ensure the wrapper takes 70% of viewport height */
    overflow-y: auto;
    /* Allow vertical scrolling */
    position: relative;
    padding: 10px;
    padding-top: 0;
}

/* Ensuring the table takes full width */
#productTable {
    width: 100%;
    border-collapse: collapse;
}

/* Sticky Header */
#productTable thead {
    position: sticky;
    top: 0;
    background: rgb(17, 18, 22);
    z-index: 10;
}


/* Styling for the headers */
#productTable th {
    background: rgb(17, 18, 22);
    /* Dark background */
    border-bottom: 2px solid #333942;
    text-align: left;
}

/* Making tbody scrollable while keeping alignment */
#productTable tbody {
    display: block;
    max-height: 65vh;
    /* Adjust height dynamically */
}

/* Ensuring rows and cells align properly */
#productTable tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#productTable td {
    padding: 10px 10px;
    font-size: 1rem;
    margin: 0 5px;
    width: 20%;
}

/* Scrollbar for tbody */
#productTable .table-wrapper::-webkit-scrollbar {
    width: 6px;
    transition: opacity 0.3s ease-in-out;
}

/* Track (background of the scrollbar) */
#productTable .table-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb (scrollable part) */
#productTable .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #555;
    background: grey;
    border-radius: 10rem;
    opacity: 0;
    /* Initially hidden */
}

/* Show scrollbar on hover */
#productTable .table-wrapper:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    /* Visible when hovering */
}

/* Hover effect for better UX */
#productTable .table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

@media (max-width: 1024px) {

    #productTable td {
        padding: 8px 10px;
        font-size: 0.8rem;
        margin: 0 5px;
        width: 20%;
    }

    .table-wrapper {
        /* Responsive height based on viewport */
        overflow-y: auto;
        /* Scrollable body */
        position: relative;
        overflow-x: hidden;
    }

    table th,
    table td {
        font-size: 0.95rem;
    }


    .btn-action {
        padding: 6px 10px;
        font-size: 0.85rem;
    }

    .btn-action span {
        display: none;
    }

    .btn-action img {
        display: inline;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 768px) {

    table {
        width: 100%;
    }

    table th,
    table td {
        font-size: 0.85rem;
    }

    .btn-action {
        padding: 7px 7px;
        font-size: 0.7rem;
        min-width: 30px;
    }

    .btn-action span {
        display: none;
    }

    .btn-action img {
        display: inline;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 0.7em;
    }

    .table-wrapper {
        margin: 0;
    }

    table {
        font-size: 0.8rem;
        width: 100%;
        overflow-x: hidden;
        white-space: wrap;
    }

    table th,
    table td {
        font-size: 0.8rem;
    }

    .btn-action {
        padding: 4px 8px;
        font-size: 0.7rem;
        min-width: 30px;
    }

    .btn-action span {
        display: none;
    }

    .btn-action img {
        display: inline;
        width: 15px;
        height: 15px;
    }
}

.main-content {
    padding: 10px;
    height: 100vh;
}

.stock-out {
    color: red;
}

.stock-low {
    color: orange;
}

.stock-good {
    color: limegreen;
}